<div class="align-center d-flex flex-row gap-4">
    <div class="align-center d-flex flex-row gap-0">
        <MudIcon Color="@Category.OperationType.Color"
                 Icon="@Category.OperationType.Icon"
                 Size="Size.Small" />
        <OperationDialog OnSubmit="OnEdit"
                         Operation="@Operation"
                         @ref="_dialog">
            <MudIconButton Icon="@Icons.Material.Rounded.ModeEdit"
                           OnClick="() => _dialog.ToggleOpen()"
                           Size="Size.Small" />
        </OperationDialog>
    </div>
    <MudItem md="1"
             xs="2">
        <MudText Align="Align.Left"
                 Inline>
            @Operation.Sum.ToString("N0")
        </MudText>
    </MudItem>
    <MudItem md="3"
             xs="9">
        <MudText Align="Align.Left"
                 Inline
                 title="@Category.Name">
            @Category.Name
        </MudText>
    </MudItem>
    <MudItem md="3"
             xs="5">
        <MudText Align="Align.Left"
                 Inline
                 title="@Operation.Place">
            @Operation.Place
        </MudText>
    </MudItem>
    @if (Operation.CreatedTaskId != null)
    {
        <MudItem xs="1">
            <MudIcon Icon="@Icons.Material.Rounded.CheckCircle"
                     Title="Создано регулярной задачей" />
        </MudItem>
    }
    <MudItem md="4"
             xs="6">
        <MudText Align="Align.Left"
                 Inline>
            @Operation.Comment
        </MudText>
    </MudItem>
    <MudSpacer />
    <MudIconButton Icon="@Icons.Material.Rounded.Delete"
                   OnClick="() => OnDelete.InvokeAsync(Operation)"
                   Size="Size.Small" />
</div>
