<div class="d-flex flex-column"
     id="categories-container">
    <MudStack AlignItems="AlignItems.Center"
              Justify="Justify.FlexStart"
              Row>
        <MudTextField Adornment="Adornment.Start"
                      AdornmentColor="Color.Tertiary"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Clearable
                      HelperText="@(GetHelperText())"
                      Immediate
                      Label="Категории"
                      OnAdornmentClick="async () => await ToggleCategoriesTree()"
                      @onclick="async () => await ToggleCategoriesTree(true)"
                      T="string"
                      TextChanged="OnTextChanged" />
        <MudIconButton Color="Color.Tertiary"
                       Icon="@Icons.Material.Rounded.Delete"
                       OnClick="Reset"
                       Size="Size.Small" />
    </MudStack>
    <MudPopover AnchorOrigin="Origin.BottomLeft"
                MaxHeight="400"
                Open="@_isCategoriesTreeOpen"
                RelativeWidth
                TransformOrigin="Origin.TopLeft"
                Class="categories-popover-tree">
        <MudTreeView AutoSelectParent
                     @bind-SelectedValue="SelectedCategory"
                     @bind-SelectedValues="SelectedCategories"
                     ExpandOnClick
                     Hover
                     Items="InitialTreeItems"
                     MaxHeight="400"
                     Ripple
                     SelectionMode="SelectionMode"
                     TriState>
            <ItemTemplate>
                <MudTreeViewItem @bind-Expanded="@context.Expanded"
                                 Icon="@context.Icon"
                                 Items="@context.Children"
                                 Text="@context.Text"
                                 Value="@context.Value"
                                 Visible="@context.Visible" />
            </ItemTemplate>
        </MudTreeView>
    </MudPopover>
</div>

<script>

    let handler;

    window.initializeClickInterceptor = dotNetHelper => {
        handler = function (e) {
            const containerElement = document.getElementById("categories-container");
            const popoverElement = document.getElementsByClassName("categories-popover-tree")[0];

            if (containerElement && !containerElement.contains(e.target)
                && (!popoverElement || !popoverElement.contains(e.target))) {
                dotNetHelper.invokeMethodAsync("OnClick");
            }
        };

        return document.addEventListener("click", handler);
    };

    window.finalizeClickInterceptor = () => document.removeEventListener("click", handler)

</script>
