@if (_isNumericSumVisible)
{
    <div @onfocusin="OnNumericFocusInAsync">
        <MudNumericField Adornment="Adornment.Start"
                         AdornmentColor="Color.Tertiary"
                         AdornmentIcon="@Icons.Material.Rounded.Calculate"
                         @bind-Value="Sum"
                         For="@(() => Sum)"
                         Immediate
                         Label="Сумма"
                         OnAdornmentClick="EnterTextModeAsync"
                         OnKeyDown="OnSumKeyDownAsync"
                         ReadOnly="@HasExpression"
                         @ref="_numericField" />
    </div>
}
else
{
    <MudTextField Adornment="Adornment.Start"
                  AdornmentColor="Color.Tertiary"
                  AdornmentIcon="@Icons.Material.Rounded.Numbers"
                  AutoFocus
                  @bind-Value="_calculationSum"
                  Clearable
                  For="@(() => _calculationSum)"
                  Immediate
                  Label="Сумма"
                  OnAdornmentClick="ExitTextModeAsync"
                  OnBlur="ExitTextModeAsync" />
}
