@using Extentions
@model MyMoneyWeb.Models.PayDebtFormModel
@using (Html.BeginForm("SavePaymentDebt", "Finance", FormMethod.Post, new { id = "debtForm" }))
{
    @Html.HiddenFor(x => x.DebtId)
    @Html.HiddenFor(x => x.Debt.Name)
    @Html.HiddenFor(x => x.Debt.Comment)
    @Html.HiddenFor(x => x.Debt.Sum)
    <h2>@Model.Debt.Name @Model.Debt.Sum @Model.Debt.Comment</h2>
    <div class="form-group">
        @Html.LabelFor(model => model.Sum)
        @Html.TextBoxFor(model => model.Sum, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Sum)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Date)
        @Html.TextBoxFor(model => model.Date, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "payDebtFormDate" })
        @Html.ValidationMessageFor(model => model.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Comment)
        @Html.TextBoxFor(model => model.Comment, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Comment)
    </div>
    <button type="button" id="payDebtFormSaveButton" class="btn btn-success" onclick="SavePaymentDebt()"><i class="glyphicon glyphicon-ok-sign"></i>Подтвердить</button>
    <button type="button" id="payDebtFormCancelButton" class="btn btn-danger" onclick="CancelPaymentDebt()"><i class="glyphicon glyphicon-remove-circle"></i>Отменить</button>
}
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script>
    $(document).ready(function () {
        $("#payDebtFormDate").datetimepicker({
            format: 'DD.MM.YYYY',
            language: 'ru'
        });
    });
</script>