@using System.Globalization
@using Common.Enums

@model MyMoneyWeb.Models.CarDetailsModel.CarEventValue
@{
    var ev = Model;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Редактирование заметки '@ev.Title'</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="carEventTitle">Описание</label>
        <input type="text" class="form-control" id="carEventTitle" placeholder="Что произошло" value="@ev.Title">
    </div>
    <div class="form-group car-types">
        <img src="/Images/EventType/sdelka_64.png" class="@(ev.Type == CarEventTypes.Buy ? "type-selected" : "")" onclick="selectCarEventType(this)" data-type-id="@((int)CarEventTypes.Buy)" title="Приоберетение" />
        <img src="/Images/EventType/strahovka_64.png" class="@(ev.Type == CarEventTypes.Strahovka ? "type-selected" : "")" onclick="selectCarEventType(this)" data-type-id="@((int)CarEventTypes.Strahovka)" title="Страховка" />
        <img src="/Images/EventType/service_64.png" class="@(ev.Type == CarEventTypes.Service ? "type-selected" : "")" onclick="selectCarEventType(this)" data-type-id="@((int)CarEventTypes.Service)" title="Обслуживание">
        <img src="/Images/EventType/other_64.png" class="@(ev.Type == CarEventTypes.Other ? "type-selected" : "")" onclick="selectCarEventType(this)" data-type-id="@((int)CarEventTypes.Other)" title="Прочее" />
    </div>
    <div class="form-group col-md-6" style="padding-left: 0;">
        <label for="carEventDate">Дата</label>
        <input type="text" class="form-control" id="carEventDate" placeholder="когда" value="@ev.Date.ToShortDateString()">
    </div>
    <div class="form-group col-md-6" style="padding-right: 0;">
        <label for="carEventMileage">Пробег(км)</label>
        <input type="number" min="0" step="1000" class="form-control" id="carEventMileage" placeholder="10000" value="@(ev.Mileage == null ? "" : ev.Mileage.Value.ToString(CultureInfo.InvariantCulture))">
    </div>
    <div class="form-group">
        <label for="carEventComment">Комментарий</label>
        <input type="text" class="form-control" id="carEventComment" placeholder="Подброности" value="@ev.Comment">
    </div>
    <input type="hidden" id="carEventId" value="@ev.Id" />
</div>
<div class="modal-footer">
    <button type="button" id="createCarBtn" class="btn btn-default" onclick="updateCarEvent(this)" @*data-dismiss="modal"*@><i class="fa fa-save"></i>Подтвердить</button>
</div>