@implements IDisposable

@inject NavigationManager NavigationManager

<MudNavMenu>
    <MudNavLink Href="" Icon="@Icons.Material.Filled.Home" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavLink Href="weather" Icon="@Icons.Material.Filled.List" Match="NavLinkMatch.Prefix">Weather</MudNavLink>
    <MudNavLink Href="auth" Icon="@Icons.Material.Filled.Lock" Match="NavLinkMatch.Prefix">Auth Required</MudNavLink>
    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="Operations" Icon="@Icons.Material.Filled.Money" Match="NavLinkMatch.Prefix">Операции</MudNavLink>
            <MudNavLink Href="Categories" Icon="@Icons.Material.Filled.Category" Match="NavLinkMatch.Prefix">Категории</MudNavLink>
            <MudNavLink Href="Account/Manage" Icon="@Icons.Material.Filled.Person" Match="NavLinkMatch.Prefix">@context.User.Identity?.Name</MudNavLink>
            <form action="Account/Logout" method="get">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@_currentUrl" />
                <button type="submit" class="mud-nav-link mud-ripple">
                    <MudIcon Class="mr-3" Color="Color.Info" Icon="@Icons.Material.Filled.Logout" /> Logout
                </button>
            </form>
        </Authorized>
        <NotAuthorized>
            <MudNavLink Href="Account/Register" Icon="@Icons.Material.Filled.Person" Match="NavLinkMatch.Prefix">Register</MudNavLink>
            <MudNavLink Href="Account/Login" Icon="@Icons.Material.Filled.Password" Match="NavLinkMatch.Prefix">Login</MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
</MudNavMenu>
