@page "/categories"
@attribute [Authorize]

<PageTitle>Категории</PageTitle>

<MudText GutterBottom Typo="Typo.h3">Категории</MudText>

@if (_init == false)
{
    <MudStack AlignItems="AlignItems.Center" Row>
        <MudProgressCircular Indeterminate />
        <MudText Typo="Typo.body1">Загрузка..</MudText>
    </MudStack>

    return;
}

<MudTabs Elevation="4" Color="@Color.Primary">
    @foreach (PaymentTypes.Value paymentType in PaymentTypes.Values)
    {
        <MudTabPanel Text="@paymentType.Name" ID='@paymentType.Id'>
            <MudTreeView ExpandOnClick Hover Items="@InitialTreeItems[paymentType.Id]" ReadOnly Ripple>
                <ItemTemplate>
                    @{
                        Category? category = context.Value;
                    }
                    <MudTreeViewItem @bind-Expanded="@context.Expanded" Items="@context.Children" Value="@context.Value">
                        <Content>
                            <MudTreeViewItemToggleButton @bind-Expanded="@context.Expanded" Visible="@context.HasChildren" />
                            <MudText>@category?.Name</MudText>
                            <MudSpacer />
                            @if (category?.Color is not null)
                            {
                                <div class="chip" style="background-color: @category.Color"></div>
                            }
                            <MudIconButton Color="Color.Success"
                                           Icon="@Icons.Material.TwoTone.Add"
                                           OnClick="() => Create(paymentType, category.Id)" />

                            <MudIconButton Color="Color.Success"
                                           Icon="@Icons.Material.TwoTone.Edit"
                                           OnClick="() => Update(category)" />

                            <MudIconButton Color="Color.Error"
                                           Icon="@Icons.Material.TwoTone.Delete"
                                           OnClick="() => Delete(category)" />
                        </Content>
                    </MudTreeViewItem>
                </ItemTemplate>
            </MudTreeView>
            <MudButton EndIcon="@Icons.Material.TwoTone.Add"
                       OnClick="() => Create(paymentType, null)"
                       Variant="Variant.Filled">
                Создать
            </MudButton>
        </MudTabPanel>
    }
</MudTabs>
