@page "/payments"
@attribute [Authorize]

<PageTitle>Операции</PageTitle>

<MudText GutterBottom Typo="Typo.h3">Операции</MudText>

@if (_init == false)
{
    <MudStack AlignItems="AlignItems.Center" Row>
        <MudProgressCircular Indeterminate />
        <MudText Typo="Typo.body1">Загрузка..</MudText>
    </MudStack>

    return;
}

<MudTabs Elevation="4" Color="@Color.Primary">
    <MudTabPanel Text="Список операций" ID='1'>
        <MudButton EndIcon="@Icons.Material.TwoTone.Add"
                   OnClick="() => Create(DateTime.Now)"
                   Variant="Variant.Filled">
            Создать
        </MudButton>
        @foreach (var paymentsDay in PaymentsDays)
        {
            <div class="payment-day">
                <div class="payment-day-head">
                    <span style="width: 100px; display: inline-block;">
                        <i class="fa fa-calendar"></i>
                        <span class="payment-day-title-date">@paymentsDay.Date.ToShortDateString()</span>
                    </span>
                    @foreach(var paymentType in PaymentTypes.Values)
                    {
                        <span style="min-width: 100px; display: inline-block;">
                            <i class="fa fa-arrow-circle-o-down payment-costs"></i>
                            <span class="payment-day-title-sum-@(paymentType.Id)">
                                @paymentsDay.Payments.Where(x => x.Category.PaymentTypeId == paymentType.Id).Sum(x => x.Sum)
                            </span>
                        </span>
                    }
                    <i id="addPaymentBtn" class="fa fa-plus-circle payment-costs" title="Добавить расходы"></i>
                    <i id="addPaymentBtn" class="fa fa-plus-circle payment-income" title="Добавить доходы"></i>
                    <i id="addPaymentBtn" class="fa fa-plus-circle payment-fast" title="Быстрое добавление"></i>
                </div>
                <div class="payment-day-body">
                    @foreach (var payment in paymentsDay.Payments)
                    {
                        <div id="payment_@payment.Id" class="payment-row" data-payment-id="@payment.Id">
                      @*       <i class="@pClass"></i> *@
                            <i class="start-edit fa fa-edit" onclick="EditPayment2('@payment.Id')" title="Редактировать"></i>


                            <span class="show-sum" style="width: 100px;display: inline-block;">@payment.Sum</span>
                            <span class="show-catname" style="width: 200px;display: inline-block;" title="@payment.Category.Name">@payment.Category.Name</span>
                            <span class="show-place" style="width: 100px;display: inline-block;" title="@payment.Place">@payment.Place</span>
                            @if (payment.CreatedTaskId != null)
                            {
                                <span class="fa fa-calendar-check-o" title="Создано регулярной задачей"></span>
                            }
                            <span class="show-comment" style="display: inline-block;">@payment.Comment</span>

                            <span class="pull-right">
                                <i class="start-delete fa fa-trash" onclick="DeletePayment('@payment.Id')" title="Удалить"></i>
                            </span>
                        </div>
                    }
                </div>
            </div>
        }

    </MudTabPanel>
    <MudTabPanel Text="Регулярные операции" ID='2'>
        =)
    </MudTabPanel>
    <MudTabPanel Text="Быстрые операции" ID='3'>
        =)
    </MudTabPanel>
</MudTabs>
