@page "/payments"
@attribute [Authorize]

<PageTitle>Операции</PageTitle>

@if (_init == false)
{
    <MudProgressLinear Indeterminate />
}

<MudTabs ApplyEffectsToContainer
         Elevation="0"
         MinimumTabWidth="0"
         Outlined
         PanelClass="px-2"
         Position="Position.Right"
         Rounded
         SliderAnimation>
    <MudTabPanel>
        <TabContent>
            <div class="my-4 vertical-text">Список</div>
        </TabContent>
        <ChildContent>
            <MudContainer MaxWidth="MaxWidth.Large">
                <MudStack Class="mt-3"
                          Spacing="2">
                    <MudItem>
                        <MudStack AlignItems="AlignItems.Stretch"
                                  Spacing="3">

                            <MudDateRangePicker AdornmentColor="Color.Tertiary"
                                                AnchorOrigin="Origin.BottomLeft"
                                                @bind-DateRange="@FilterDateRange"
                                                Clearable
                                                Color="Color.Tertiary"
                                                Label="Диапазон дат"
                                                PickerVariant="PickerVariant.Inline"
                                                Rounded
                                                ShowWeekNumbers />

                            @*TODO: придумать способ закрытия*@
                            <div class="d-flex flex-column"
                                 @onblur="() => _popover.Open = false">
                                <MudStack AlignItems="AlignItems.Center"
                                          Justify="Justify.FlexStart"
                                          Row>
                                    <MudTextField Adornment="Adornment.Start"
                                                  AdornmentColor="Color.Tertiary"
                                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                                  Clearable="true"
                                                  HelperText="@(GetHelperText())"
                                                  Immediate="true"
                                                  Label="Категории"
                                                  OnAdornmentClick="() => _popover.Open = !_popover.Open"
                                                  @onclick="() => _popover.Open = true"
                                                  T="string"
                                                  TextChanged="OnTextChanged" />
                                    <MudIconButton Color="Color.Tertiary"
                                                   Icon="@Icons.Material.Rounded.Clear"
                                                   OnClick="() => FilterCategories = null"
                                                   Size="Size.Small" />
                                </MudStack>

                                <MudPopover AnchorOrigin="Origin.BottomLeft"
                                            MaxHeight="300"
                                            @ref="_popover"
                                            RelativeWidth
                                            TransformOrigin="Origin.TopLeft">
                                    <MudTreeView AutoSelectParent
                                                 @bind-SelectedValues="FilterCategories"
                                                 ExpandOnClick
                                                 Hover
                                                 Items="InitialTreeItems"
                                                 MaxHeight="400"
                                                 Ripple
                                                 SelectionMode="SelectionMode.MultiSelection"
                                                 TriState>
                                        <ItemTemplate>
                                            <MudTreeViewItem @bind-Expanded="@context.Expanded"
                                                             Icon="@context.Icon"
                                                             Items="@context.Children"
                                                             Text="@context.Text"
                                                             Value="@context.Value"
                                                             Visible="@context.Visible" />
                                        </ItemTemplate>
                                    </MudTreeView>
                                </MudPopover>
                            </div>

                            <MudTextField @bind-Value="FilterPlace"
                                          Label="Место" />

                            <MudTextField @bind-Value="FilterComment"
                                          Label="Комментарий" />
                        </MudStack>
                    </MudItem>
                    <MudItem>
                        <PaymentDialog OnSubmit="AddNewPayment"
                                       Payment="@(new Payment { Date = DateTime.Now, Category = Category.Empty })"
                                       @ref="_dialog">
                            <MudStack AlignItems="AlignItems.Start"
                                      Row>
                                @foreach (PaymentTypes.Value type in PaymentTypes.Values)
                                {
                                    <MudTooltip Text="@type.AddText">
                                        <MudButton Color="type.Color"
                                                   Disabled="_dialog.IsOpen"
                                                   EndIcon="@type.Icon"
                                                   OnClick="() => _dialog.ToggleOpen(type)"
                                                   Size="Size.Small"
                                                   Variant="Variant.Filled">
                                            @type.AddText
                                        </MudButton>
                                    </MudTooltip>
                                }
                                <MudTooltip Text="Быстрое добавление">
                                    <MudButton Color="Color.Info"
                                               Disabled="_dialog.IsOpen"
                                               OnClick="() => _dialog.ToggleOpen()"
                                               Size="Size.Small"
                                               Variant="Variant.Filled">
                                        Быстрое добавление
                                    </MudButton>
                                </MudTooltip>
                                <MudSpacer />
                                <MudTooltip Text="Найти">
                                    <MudButton Color="Color.Info"
                                               EndIcon="@Icons.Material.Rounded.Search"
                                               OnClick="Search"
                                               Size="Size.Small"
                                               Variant="Variant.Filled">
                                        Найти
                                    </MudButton>
                                </MudTooltip>
                            </MudStack>
                        </PaymentDialog>
                    </MudItem>
                    @foreach (PaymentsDay paymentsDay in PaymentsDays ?? [])
                    {
                        <PaymentsDayCard OnAddPayment="paymentsDay.AddPayment"
                                         OnDelete="Delete"
                                         OnRestore="Restore"
                                         PaymentsDay="@paymentsDay"
                                         PaymentTypes="@PaymentTypes.Values" />
                    }
                </MudStack>
            </MudContainer>
        </ChildContent>
    </MudTabPanel>
    <MudTabPanel >
        <TabContent>
            <div class="my-4 vertical-text">Регулярные</div>
        </TabContent>
    </MudTabPanel>
    <MudTabPanel>
        <TabContent>
            <div class="my-4 vertical-text">Быстрые</div>
        </TabContent>
    </MudTabPanel>
</MudTabs>
